PORT=5000
TOKEN_SECRET=replace-this-secret-with-something-else
MONGODB_URL=mongodb://127.0.0.1:27017/lbd-mongo
SERVER_URL=http://localhost:5000
GRAPHDB_URL=http://localhost:7200
DOMAIN_URL=https://lbdserver.org
GDB_ADMIN=Basic YWRtaW46YWRtaW4=